h1{
    text-align: center;
    font-style: italic;
    color: darkmagenta;
    background-color: darkcyan;
}

h4{
    text-align: center;
    font-style: italic;
    color: darkmagenta;
}
body{
    background-color: darkgrey;
}

#card mb-3 {
justify-content: center;
align-items: center;
padding: 100px;
}

img{
    height:250px ;
    width: 300px ;
}

